<div class="row">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
    </div>
</div>
<hr>
  
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">identificación</th>
        <th scope="col">nombres </th>
        <th scope="col">apellido </th>
        <th scope="col">telefono</th>
        <th scope="col">email</th>
        <th scope="col">codigoRuta </th>
        <th scope="col">Ciudades</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cell" *ngFor=" ">
    
      </tr>
    </tbody>
</table>



